---
layout: index
title: {{ site.title }}
css: index
id: home-index

cssVendor: ['magnific-popup']
---

<!-- :HRO Section -->

<section id="landing">
  <div class="terminal-container">
    <div class="terminal">

      <div class="terminal-bar">
        <div class="button-container">
          <div class="close-button"></div>
          <div class="minimize-button"></div>
          <div class="expand-button"></div>
        </div>
      </div>

      <div class="terminal-text">
        <div class="text-strings">
          <!-- typed.js requires all strings be wrapper -->
          <p>
            Hello, I'm Curtis Grotzke. <br>
            I'm a web developer located in Vancouver, British Columbia, Canada. <br>
            I like to build websites that are sleek, responsive and provide a great user experience. <br>
            If you would like to see more, please scroll down or get in contact with me <a href="/contact">here.</a>&nbsp;
          </p>
        </div>

        <div class="typing-terminal">
          <p class="type-text">
            <span class="terminal-prompt">$</span>
            <span class="typing"></span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="down-chevron"><span class="fa fa-chevron-down"></span></div>
</section>

<!-- HRO Section: -->

<div id="services">

  <div class="inner-wrapper">

    <div class="services-wrapper">

      <h3 class="services-title">Here's What I Do.</h3>
      <p class="services-subtitle">In short I build websites.</p>

      <ul class="services-list">

        <li class="services-item">
          <img class="srv-img" src='/assets/svg/desktop_monitor.svg' height="100" width="100">
          <div class="sample-div"></div>
          <div class="services-text">
            <h2 class="services-subtitle"> Web Development </h2>
            <p class="services-desc"> Web development services are available for the creation of both
            personal and business applications. </p>
          </div>
        </li>

        <li class="services-item">
          <img class="srv-img" src='/assets/svg/mobile_tablet.svg' width="100" height="100">
          <div class="sample-div"></div>
          <div class="services-text">
            <h2 class="services-subtitle"> Responsive Design </h2>
            <p class="services-desc"> Sites are designed to be used across any device, ranging from mobiles to
            desktops and anything in-between.
            </p>
          </div>
        </li>

        <li class="services-item">
          <img class="srv-img" src='/assets/svg/hammer_wrench.svg' width="100" height="100">
          <div class="sample-div"></div>
          <div class="services-text">
            <h2 class="services-subtitle"> Maintenance </h2>
            <p class="services-desc"> Routine development, content support and security updates. </p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</div>

<div id="portfolio">
  <div class="inner-wrapper">

    <div class="lead-in">

      <h2 class="lead-in-title">
      Some Of My Work
      </h2>

      <p class="lead-in-subtitle">
      Hover over and click to see more.
      </p>

    </div>

    <div class="portfolio-wrapper">
      <div class="portfolio-ex-container">

        <div class="portfolio-item">
          <img class="portfolio-img" src='/assets/images/photo_site_thumbnail.jpg'>
          <div class="portfolio-img-icon">
            <a class="mfg-popup-link" href='/assets/images/photo_site_full.jpg' title="I don't know" data-redir="/silvershutter">
              <i class="fa fa-prt-icon fa-link"></i>

              <div class="mfp-pu-title" style="display: none;"> Photography Site </div>
              <div class="mfp-pu-desc" style="display:none;">This is a mock site I made in the spirit of a photography website. The main purpose being
              the showcasing of the photographer's gallery.</div>
            </a>
          </div>
        </div>

        <div class="portfolio-item">
          <img class="portfolio-img" src='/assets/images/travel_site_thumbnail.jpg'>
          <div class="portfolio-img-icon">
            <a class="mfg-popup-link" href='/assets/images/travel_site_full.jpg' title="travel site" data-redir="/mock-travel">
              <i class="fa fa-prt-icon fa-link"></i>

              <div class="mfp-pu-title" style="display: none;"> Mock Travel Site </div>
              <div class="mfp-pu-desc" style="display:none;">A mock design for a proverbial/non-existent travel service.</div>
            </a>
          </div>
        </div>

        <div class="portfolio-item">
          <img class="portfolio-img" src='/assets/images/fashion_site_thumbnail.jpg'>
          <div class="portfolio-img-icon">
            <a class="mfg-popup-link" href='/assets/images/fashion_site_full.jpg' title="fashion" data-redir="/fashion">
              <i class="fa fa-prt-icon fa-link"></i>

              <div class="mfp-pu-title" style="display: none;"> Fashion Site </div>
              <div class="mfp-pu-desc" style="display:none;">This is a mock site as if it were a clothing line selling its products. It's only a single page as it's only for show. (None of the links work as there is nothing to hyperlink to.)</div>
            </a>
          </div>
        </div>
<!--
        <div class="portfolio-item">
          <img class="portfolio-img" src='assets/images/sample_a.png'>
          <div class="portfolio-img-icon">
            <a class="mfg-popup-link" href='assets/images/sample_a.png' data-redir="/stupid">

              <i class="fa fa-prt-icon fa-link"></i>

              <div class="mfp-pu-title" style="display: none;"> Something about anything </div>
              <div class="mfp-pu-desc" style="display: none;">
              </div>
            </a>
          </div>
        </div>

        <div class="portfolio-item">
          <img class="portfolio-img" src="assets/images/sample_a.png">
          <div class="portfolio-img-icon">
            <a class="mfg-popup-link" href="assets/images/sample_a.png" data-redir="/stupid">

              <i class="fa fa-prt-icon fa-link"></i>

              <div class="mfp-pu-title" style="display: none;">
              </div>
            </a>
          </div>
        </div>

        <div class="portfolio-item">
          <img class="portfolio-img" src="assets/images/sample_a.png">
          <div class="portfolio-img-icon">
            <a class="mfg-popup-link" href="assets/images/sample_a.png" data-redir="/stupid">

              <i class="fa fa-prt-icon fa-link"></i>

              <div class="mfp-pu-title" style="display: none;"> Something about anything </div>
              <div class="mfp-pu-desc" style="display: none;">
              </div>
            </a>
          </div>
        </div>
-->
      </div>
<!--
      <div class="portfolio-button">
        <a href="javascript:void(0)" class="portfolio-redirect button-redir">
          Check It Out
        </a>
      </div>
    -->
    </div>

  </div>
</div>

<div id="blog">
  <div class="inner-wrapper">
    <div class="lead-in">
      <h2 class="lead-in-title">Fresh From The Blog</h2>
      <p class="lead-in-subtitle">The latest articles and news from my personal <a href="/blog">blog</a>.</p>
    </div>

    <div class="blog-posts-wrapper">

      <ul class="blog-posts-list">

        <!-- jekyll doesn't have any proper limit iteration, so custom workaround -->

        {% assign post_limit = 4 %}
        {% assign currentNo = 0 %}

        {% for post in site.posts %}

          <li>
            <h3 class="blog-header">
              <a href='{{post.url}}'>{{post.title}}</a>
            </h3>

            <p class="datetime">

              {% assign d = post.date | date: '%-d' %}
              {% case d %}
                {% when '1' or '21' or '31' %}{{ d }}st
                {% when '2' or '22' %}{{ d }}nd
                {% when '3' or '23' %}{{ d }}rd
              {% endcase %}
              {{ post.date | date: '%B' }}
              {{ post.date | date: '%Y' }}
            </p>

            <div class="blog-excerpt">

              {% assign blog_excerpt = post.excerpt %}

              {% if blog_excerpt.size > 1000 %}

                {{ blog_excerpt | truncate: 1000 }}

              {% else %}

                {{ blog_excerpt }}...

              {% endif %}
            </div>
          </li>

          {% assign currentNo = currentNo | plus: 1 %}

          {% if currentNo == post_limit %}

            {% break %}

          {% endif %}

        {% endfor %}
      </ul>

      <div class="blog-redirect clearfix-hidden">
        <a href='/blog' class="button-redir rectangle-hover-out"> Visit The Blog </a>
      </div>
    </div>

  </div>
</div>

<div id="contact">
</div>
